
    <div class="container medium">
    <div class="row">
        <!-- <div class="column"> -->
      <a href="/login" class="homeb">Login</a>
      <!-- <div class="column">.column -->
      </div>

    <!-- <div class="row"> -->
      <div class="column">
        <a href="/users/signup" class="homeb">Create Account</a>

      </div>

    </div>
    <!-- </div> -->
