
    <ul>
      <li><a href="/users/signup">Create Account</a></li>
      <li><a href="/login">Log In</a></li>
      <!-- <li><a href="/sposts/spost">Write A Soccer Post</a></li> -->
    </ul>


    <a href="">BACK TO PROFILE</a>
