


<div class = "post-grid">
  <a class="nav" href="/users/<%= session['user_id']%>">Back To Profile</a>
  <a class="nav" href="/articles/all-article">News Feed</a>
  <a class="nav" href="/articles/my-article">See My Post</a>
<form action="/articles/article" method="post">
<div class = "grid-items">
      Post Title <br>
      <input type="text" name="title"> <br>
      Post <br>
      <textarea name="content" rows="10" cols="90"></textarea> <br>
      <input type="submit" name="Submit">
    </form>
    <link rel="stylesheet" href="/main.css">
</div>
</div>
