<a class="nav" href="/users/<%= session['user_id']%>">Back To Profile</a>
<a class="nav" href="/sposts/everyp">See My Post</a>


<div class="grid-container">


        <%@sposts.reverse.each do |spos|%>
					<% user = User.find(spos.user_id)%>
					<div class="grid-item">
					Name:  <%= user.first_name %><hr>
					Title: <%= spos.title %><hr>
					<div class="scroll">Post: <%= spos.content%>
					</div>

				</div>

          <% end %>


			</div>
