
<h2>Name<%= @spost.content %></h2>
<h2><%= @spost.title %></h2>

<a class="nav" href="/users/<%= session['user_id']%>">Back To my Profile</a>
<a class="nav" href="/sposts/allp">News Feed</a>
<a class="nav" href="/sposts/everyp">See My Post</a>
