

        <div class="wrapper">
          <div class="login-text">
            <button class="slideb" ><div class="slide-down"></div></button>
            <div class="text">
              <form action="/login" method="post">
                Email Address: <br>
                <input type="email" name="email" value=""><br>
                Password: <br>
                <input type="password" name="password" value=""><br>
                <input type="submit" name="login" value="Log In">
              </form>
            </div>
            </div>

          </div>
            <div class="call-text">

    <a href="/"><div class="box">Home</div></a><br>
    <a href="/users/signup"><div class="box">Sign Up</div></a>

   </div>


        <link rel="stylesheet" href="/main.css">
        <script src="main.js"></script>
