<h1> Sing up </h1>

<form  action="/users/signup" method="post">
     Full Name: <br>
     <input type="text" name="name"> <br>
     Password: <br>
     <input type="password" name="password"> <br>
     Birthday: <br>
     <input type="date" name="bday"><br>
    Email: <br>
     <input type="email" name="email"> <br>
     <input type="submit" name="Submit" onclick="alert('Your account has been created!')">
   </form>
