




           <div class="wrapper">
             <div class="login-text">
               <button class="slideb" ><i class="slide-down"></i></button>
               <div class="text">
                 <form  action="/users/signup" method="post">
                      Full Name: <br>
                      <input type="text" name="name"> <br>
                      Password: <br>
                      <input type="password" name="password"> <br>
                      Birthday: <br>
                      <input type="date" name="birthday"><br>
                     Email: <br>
                      <input type="email" name="email"> <br>
                      <input type="submit" name="Submit" onclick="alert('Your account has been created!')">
                    </form>

             </div>
           </div>
           </div>
           <div class="call-text">
             <a href="/"><div class="box">Home</div></a><br>
             <a href="/login"><div class="box">Login</div></a>


           </div>
             <link rel="stylesheet" href="/main.css">
           <script src="/main.js"></script>
